body{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#header-nav{
    background-color: grey;
    border-radius: 0;
    border: 3px solid black;
}
#nav-list{
    text-align: right;
    margin-top: 10px;
}
#nav-list a:hover{
      color: rgb(8, 8, 201);  
}
.navbar-header button.navbar-toggle ,.icon-bar{
    border: 2px solid rgb(42, 2, 66);
}

.head{
   float: left;
}
.container{
    margin-left: 5px;
}
h1{
    position: relative;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.navbar-toggle{
    top: 5px;
}
#nav-list a{
    font-size: 1.25em;
    font-weight: dark;
    border: 2px solid black;
    margin:2px ;
    text-align: center;
   color: rgb(52, 50, 50);
}

.menu{
    text-align: center;
}
.container{
    position: relative;
    margin: 5px;
    box-sizing: border-box;
}
.content{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: grey;
    text-align: justify;
}
h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.125em;
    font-weight: bolder;
}


@media(min-width:768px){

    .content{
    display: flex;
    }
}