h1{
text-align: center;
}
span{
    position: relative;
    float: right;
  }
  #box{
    background-color: pink;
    border: solid 2px;
    padding: 5px;
    text-align: center;
  }
  #box2{
    background-color: brown;
    border: solid 2px;
    padding: 5px;
  }
  #box3{
    background-color: yellowgreen;
    border: solid 2px;
    padding: 5px;
  }
p {
    border: 1px solid black;
    background-color: grey;
    width: 90%;
    height: 150px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: black;
  }
.container{
    display: flex;
    margin: 10px;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .cont1, .cont2, .cont3{
        width: 80%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .cont1, .cont{
        width: 50%;
    }
    .cont3{
        width: 80%;
    }
}
@media (max-width: 768px) {
    .cont1, .cont2, .cont3{
        width: 50%;
    }
}