.container{
    background-color: grey;
    margin: 15px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 15px;
    border: solid 2px;
}
.title{
    text-align: center;
}
.container-fluid{
    background-color: grey;
    margin: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
@media col-md-12 {
    
}